<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="createCMPanel">
    <li role="presentation" class="active"><a href="#image" aria-controls="image" role="tab"
                                              data-toggle="tab">Immagine</a></li>
    <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">Video</a>
    </li>
</ul>
<!-- Content tabs -->
<div class="tab-content">
    <!-- Immagini -->
    <div role="tabpanel" class="tab-pane active" id="image">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nome File</th>
                <th>Stato</th>
                <th>Dettaglio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="elem : ${images}">
                <td th:text="${elem.id}"></td>
                <td th:text="${elem.nome}"></td>
                <td th:text="${elem.fileName}"></td>
                <td th:text="${elem.stato.nome}"></td>
                <td>
                    <a th:href="@{/workspace/dettaglio-cm-img/{imgId}(imgId=${elem.id})}" class="btn btn-info">
                        Dettaglio</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Video -->
    <div role="tabpanel" class="tab-pane" id="video">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Stato</th>
                <th>Dettaglio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="elem : ${videos}">
                <td th:text="${elem.id}"></td>
                <td th:text="${elem.stato.nome}"></td>
                <td th:text="${elem.nome}"></td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>