<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home </a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#">Admin</a></li>
        <li sec:authorize="hasRole('ROLE_REDATTORE')"><a href="#">Redattore</a></li>
        <li sec:authorize="hasRole('ROLE_APROVATORE')"><a href="#">Approvatore</a></li>
        <li sec:authorize="!isAuthenticated()"><a href="#">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a href="#">Logout</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>