<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Lista utenti</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h2>Elenco User</h2>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Ruolo</th>
                <th>Elimina</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="elem : ${userList}">
                <td th:text="${elem.id}"></td>
                <td th:text="${elem.ruoli[0].nome}"></td>
                <td th:text="${elem.username}"></td>
                <td>
                    <form class="delete-user-form" th:action="@{/workspace/admin/delete-user(userId=${elem.id})}"
                          method="post" >
                        <button type="submit" class="btn btn-info">Elimina</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Custom Scripts -->
<div layout:fragment="custom-scripts">
    <script type="text/javascript">
        $(".delete-user-form").submit(function(e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("Confermi eliminazione User?", function(result) {
                if (result) {
                    currentForm.submit();
                }
            });
        });
    </script>
</div>
</body>
</html>