<div class="navbar navbar-default navbar-static-top" ng-init="isCollapsed = true">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{{appName}}</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li ng-show="!authenticated" ng-class="{active: $state.is('login')}"><a ui-sref="login">Login</a></li>
          <li ng-show="authenticated" ng-class="{active: $state.is('logout')}"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
