#main-content {
    min-height: 600px;
    padding: 10px 20px;
}
form {
    padding: 10px 20px;
}
.list-item{
    background-color: #c7ddef;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 3px;
}