<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge,chrome=1">
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <!-- enable html5mode routes -->
    <base href="/">
    <title>Web client - {{appName}}</title>
    <!-- deps -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <!-- app -->
    <link rel="stylesheet" href="app/app.css">
</head>

<body>
<!--  where ui-router load the views -->
<div ui-view></div>
<!-- deps -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-img-http-src/index.js"></script>

<!-- app -->

<script src="app/app.js"></script>
<script src="app/directive/secure-image.directive.js"></script>
<script src="app/service.js"></script>
<script src="app/route-config.js"></script>
<script src="app/main/main-controller.js"></script>
<script src="app/login/login-controller.js"></script>

<script type="text/javascript">
    angular.element(document).ready(function() {
        $.get('/config/config.json', function(data) {
            angular.module('smashapp').config(['globalConfigProvider', function(globalConfigProvider) {
                globalConfigProvider.config(data);
            }]);
            angular.bootstrap(document, ['smashapp']);
        });
    });
</script>
</body>
</html>
