<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
<head>
    <title>Redattore - Nuovo Contenuto Multmediale</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <h1>Crea nuovo Contenuto Multimediale</h1>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="createCMPanel">
        <li role="presentation" class="active"><a href="#image" aria-controls="image" role="tab"
                                                  data-toggle="tab">Immagine</a></li>
        <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">Video</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Immagini -->
        <div role="tabpanel" class="tab-pane active" id="image">
            <!-- è necessario passare il csrf token in questo modo perche quello nella form è encodato
             dentro il multipart e non mi andava di perdere tempo a configurare il multipart filter
             prima del SpringSecurityFilterChain (non funziona) -->
            <form th:action="@{/workspace/redattore/submit-image(${_csrf.parameterName}=${_csrf.token})}" method="post"
                  enctype="multipart/form-data" id="createCMForm">
                <div class="form-group">
                    <label for="file">File</label>
                    <label class="btn btn-default btn-file">
                        Browse <input required="required" type="file" style="display: none;" name="file" id="file"/>
                    </label>
                </div>

                <div class="form-group">
                    <label for="name">Nome</label>
                    <input required="required" type="text" class="form-control" id="name" name="name"/>
                </div>

                <div class="form-group">
                    <label for="titolo">Titolo</label>
                    <input required="required" type="text" class="form-control" id="titolo" name="titolo"/>
                </div>

                <div class="form-group">
                    <label for="descrizione">Descrizione</label>
                    <textarea class="form-control" id="descrizione" name="descrizione"/>
                </div>

                <div class="form-group">
                    <label for="nota">Nota interna</label>
                    <textarea class="form-control" id="nota" name="nota"/>
                </div>

                <div class="form-group">
                    <label for="canale">Canale</label>
                    <select required="required" class="form-control" name="canale" id="canale">
                        <option>--</option>
                        <option th:each="channel : ${channels}" th:value="${channel.id}"
                                th:text="${channel.nome}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-default">Crea</button>
            </form>
        </div>
        <!-- Video -->
        <div role="tabpanel" class="tab-pane" id="video">
            <h2>VIDEO</h2>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#createCMPanel a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
</body>
</html>