<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="image in images">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <span>{{image.nome}}</span>
                    </div>
                    <div>
                        <secure-image img-url="/api/resources/img/{{image.id}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
