<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="fragments/layout">
<head>
    <title>Dettaglio - CM Image</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div>
        <form sec:authorize="hasRole('APPROVATORE')"
              th:if="${image.stato.nome != 'APPROVED'}"
              th:action="@{/workspace/approvatore/approve-cm(cmId=${image.id})}"
              id="approve-cm-form"
              method="post">
            <button type="submit" class="btn btn-primary">APPROVA</button>
        </form>
        <form sec:authorize="hasRole('APPROVATORE')"
              th:if="${image.stato.nome != 'REJECTED'}"
              th:action="@{/workspace/approvatore/reject-cm(cmId=${image.id})}"
              id="reject-cm-form"
              method="post">
            <button type="submit" class="btn btn-primary">RESPINGI</button>
        </form>
        <form sec:authorize="hasRole('ADMIN')"
              th:action="@{/workspace/admin/delete-cm(cmId=${image.id})}"
              id="delete-cm-form"
              method="post">
            <button type="submit" class="btn btn-primary">ELIMINA</button>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Nome:&nbsp;</strong><span th:text="${image.nome}"></span></h3>
        </div>
        <div class="panel-body">
            <div class="col-md-8">
                <div>
                    <strong>Titolo:&nbsp;</strong><code th:text="${image.titolo}"></code>
                </div>
                <div>
                    <strong>Descrizione:&nbsp;</strong><code th:text="${image.descrizione}"></code>
                </div>
                <div>
                    <strong>Canale:&nbsp;</strong><code th:text="${image.canale.nome}"></code>
                </div>
                <div>
                    <strong>Redattore:&nbsp;</strong><code th:text="${image.canale.owners[0].username}"></code>
                </div>
                <div>
                    <strong>Stato:&nbsp;</strong><code th:text="${image.stato.nome}"></code>
                </div>
                <h></h>
                <h5>Storico Eventi</h5>
                <div th:each="event : ${eventList}" class="list-item">
                    <div>
                        <strong>Tipo Evento:&nbsp;</strong><code th:text="${event.tipoEvento.nome}"></code>
                    </div>
                    <div>
                        <strong>User:&nbsp;</strong><code th:text="${event.user.username}"></code>
                    </div>
                    <div>
                        <strong>Data:&nbsp;</strong><code th:text="${event.data}"></code>
                    </div>
                    <div>
                        <strong>Nota:&nbsp;</strong><code th:text="${event.nota}"></code>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <a href="#" id="pop">
                    <img class="img img-responsive"
                         id="imageresource"
                         th:src="@{/resources/img/{imgId}(imgId=${image.id})}"
                         th:alt="${image.nome}"/>
                </a>

                <!-- Creates the bootstrap modal where the image will appear -->
                <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="modalLabel" th:text="${image.nome}"></h4>
                            </div>
                            <div class="modal-body">
                                <img class="img img-responsive" src="" id="imagepreview"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom Scripts -->
<div layout:fragment="custom-scripts">
    <script type="text/javascript">
        $("#approve-cm-form").submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.prompt("Confermi l'approvazione? (È possibile inserire una nota interna)", function (result) {
                if (result === null) {
                    return;
                }
                $('<input />').attr('type', 'hidden')
                        .attr('name', "nota")
                        .attr('value', result)
                        .appendTo('#approve-cm-form');
                currentForm.submit();
            });
        });
        $("#pop").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource').attr('src'));
            $('#imagemodal').modal('show');
        });
    </script>
</div>
</body>
</html>